import(MASS)
import(pmr)
import(rjags)

export(agreement.test)
export(compatible.rankings)
export(freq2case)
export(case2freq)
export(generate.combs)
export(generate.perms)
export(incomplete.rankings)
export(independence.test)
export(interaction.test)
export(is.compatible)
export(repmat)
export(mvnos.model)
export(msci)
export(wdmat)
export(mwdbm)
